body{
    background-color: #333232;
}

#container{
    background-color: #0E2431;
    border: 5px solid #F5E4C3;
    ;
    width: 750 px;
    margin: auto;
    text-align: center;
    height: 275px;
}

p {
    color: white;
    font-size: 24px;
}

#userinput{
    width: 100px;
    margin: 25px auto;
}
#btn{
    margin: 25px auto auto 5px;
}